---
const lang = "fr"
---
<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
		<title>
			Erreur 404 – Florian Monfort | Portfolio
		</title>
		<meta name="description" content="404" />
		<meta name="theme-color" content="#081888" />
	</head>
	<body>
		<main>
			<h1>
				Page introuvable – erreur 404
			</h1>
			<p>
				La page que vous demandez n’existe pas.
			</p>
			<a href="/fr">
				Revenir en page d’accueil
			</a>
		</main>
	</body>
	<link rel="stylesheet" type="text/css" href="/ressources/styles/plus.css" />
</html>
