@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;
	src: url("polices/open/_.woff2") format("woff2"), url("polices/open/_.woff") format("woff");
	unicode-range: U+0000-00FF, U+0152-0153, U+2000-203A, U+2070-208F, U+20AC,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: italic;
	src: url("polices/open/_i.woff2") format("woff2"), url("polices/open/_i.woff") format("woff");
	unicode-range: U+0000-00FF, U+0152-0153, U+2000-203A, U+2070-208F, U+20AC,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-style: normal;
	src: url("polices/open/_b.woff2") format("woff2"), url("polices/open/_b.woff") format("woff");
	unicode-range: U+0000-00FF, U+0152-0153, U+2000-203A, U+2070-208F, U+20AC,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-style: italic;
	src: url("polices/open/_bi.woff2") format("woff2"), url("polices/open/_bi.woff") format("woff");
	unicode-range: U+0000-00FF, U+0152-0153, U+2000-203A, U+2070-208F, U+20AC,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;
	src: url("polices/open/_x.woff2") format("woff2"), url("polices/open/_x.woff") format("woff");
	unicode-range: U+0100-017F, U+2020;
}
@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: italic;
	src: url("polices/open/_ix.woff2") format("woff2"), url("polices/open/_ix.woff") format("woff");
	unicode-range: U+0100-017F, U+2020;
}
@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-style: normal;
	src: url("polices/open/_bx.woff2") format("woff2"), url("polices/open/_bx.woff") format("woff");
	unicode-range: U+0100-017F, U+2020;
}
@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-style: italic;
	src: url("polices/open/_bix.woff2") format("woff2"), url("polices/open/_bix.woff") format("woff");
	unicode-range: U+0100-017F, U+2020;
}
@font-face {
	font-family: "Bree";
	font-weight: 400;
	font-style: normal;
	src: url("polices/bree/_.woff2") format("woff2"), url("polices/bree/_.woff") format("woff");
	unicode-range: U+0000-00FF, U+0152-0153, U+2000-203A, U+2070-208F, U+20AC,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Bree";
	font-weight: 400;
	font-style: normal;
	src: url("polices/bree/_x.woff2") format("woff2"), url("polices/bree/_x.woff") format("woff");
	unicode-range: U+0100-017F, U+2020;
}
@font-face {
	font-family: "PlayfairDisplay";
	font-weight: 400;
	font-style: normal;
	src: url("polices/playfairdisplay/_.woff2") format("woff2"), url("polices/playfairdisplay/_.woff") format("woff");
}

:root {
	--bleu: #1050c0;
	--blanc: #fff;
	--dégradé: linear-gradient(to right, #4030d0, #2060d0);
}

body {
	margin: 0;
	font-size: .82em;
	word-wrap: break-word;
}

* { box-sizing: border-box }

main,
footer,
address { font-family: "Open Sans", Minion, Arial, sans-serif }

/* principal */

main {
	width: 210mm !important;
	height: 297mm;
	overflow: hidden;
}

main > div { margin: 1rem 0 0 0 }

/* en‐tête */

header {
	font-family: "PlayfairDisplay", Palatino, Georgia, serif;
	margin: .8rem 2rem 0 2rem;
	padding-bottom: .4rem;
	border-bottom: 1px solid var(--bleu);
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

header * { font-weight: normal !important }

main header h1 {
	margin: .5rem;
	font-size: 3.5rem;
	font-variant: small-caps;
}

main header h2 {
	font-size: 1.5rem;
	margin: .5rem;
}

.partie h1 {
	font-weight: normal;
	font-family: "Bree", Verdana, serif;
}

/* Corps */

main > .ligne {
	height: 100%;
	display: grid;
	grid-template-columns: 62fr 38fr;
}

main h1 { font-size: 1.5em }

main h3 { font-size: 1em }

main ul,
main li { margin: .35rem 0 }

main ul { list-style: none }

ul.serré li {
	margin: .35rem 0 !important;
	margin-left: .75rem !important;
	text-indent: -.75rem;
}

.partie { position: relative }

#colonne-gauche .partie:not(:last-child)::after { bottom: -.4rem }

.partie h1 {
	letter-spacing: .5px;
	margin: .5rem;
	margin-bottom: .35rem;
	font-variant: small-caps;
	display: inline-block;
	border-bottom: .15rem solid var(--bleu);
}

.projet h3,
.projet p strong,
.colonne ul li strong { color: var(--bleu) }

.ligne,
.colonne { display: flex }

.ligne { justify-content: center }

.colonne {
	flex-direction: column;
	margin-bottom: 1rem;
}

/* Colonne gauche */

#colonne-gauche {
	position: relative;
	padding: 0 1rem 0 .5rem;
	border-left: 1px solid var(--bleu);
}

#colonne-gauche ul { padding: 0 .25rem 0 .75rem }

#colonne-gauche li { margin: .5rem 0 .75rem 0 }

#colonne-gauche li:first-child { margin-top: 0 }

#colonne-gauche li:last-child { margin-bottom: 0 }

#colonne-gauche table { margin: 0 .35rem }

#colonne-gauche .élémentTableau {
	margin: 0 .5rem;
	padding: .35rem 0;
	display: grid;
	align-items: center;
	grid-gap: .35rem;
grid-template-columns: 40px auto;
}

#colonne-gauche .élémentTableau > span {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#colonne-gauche .élémentTableau img {
	height: 1.25rem;
	margin: 0 auto;
}

#langues > li span {
	margin-right: .5rem;
	float: right;
}

/* Colonne droite */

#colonne-droite { padding: 0 .5rem 0 1rem }

/* Projet */

.projet {
	position: relative;
	margin: 1rem;
	margin-right: .75rem 1rem;
	width: calc(100% - 1.75rem);
}

.projet:first-of-type { margin-top: 0 }

.projet:last-child { margin-bottom: 0 }

.projet h3,
.projet h4,
.projet h5 { margin: .1rem 0 }

.projet h4 { font-weight: normal }

.projet ul { padding: 0 }

.projet p {
	margin: .5rem 0;
	padding-left: 1rem;
	text-indent: -1rem;
}

.projet p:last-child { margin-bottom: 0 }

.projet .petit { font-size: smaller }

.projet .petit span { font-weight: bold }
