@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
	--lg: calc(1024px - 2rem);
	--c: #fdfdfd;
	--gc: #eee;
	--gs: #ccc;
	--n: #111;
	--nr: 17, 17, 17;
	--b: #081888;
	--v: #280888;
	--dg: linear-gradient(to right, var(--v), var(--b));
}

* {
	font-family: inherit;
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: .9em;
}

body {
	margin: 0;
	scroll-behavior: smooth;
	background-color: var(--c);
	color: var(--n);
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-family: "Open Sans", "Minion", "Arial", sans-serif;
}

body.fz {
	overflow-y: hidden;
}

.fg {
	overflow-y: hidden;
}

main {
	min-height: calc(100vh - 6rem);
}

abbr {
	cursor: help;
}

h1,
h2,
h3 {
	text-align: center;
}

h1,
h2,
h3,
.subtitle,
summary {
	font-family: "Sarabun", "Comfortaa", "Verdana", sans-serif;
}

h1,
h2,
h3 {
	font-weight: normal;
}

.c {
	display: none !important;
}

.v {
	visibility: visible !important;
	overflow: auto;
}

.inv {
	opacity: 0;
	margin-top: -1rem;
	visibility: hidden !important;
}

.icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
}

.icons-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .75rem;
	margin: 1rem 0;
	font-size: 1.5rem;
}

.icons-title img {
	height: 2rem;
}

.lis {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.lis > div {
	text-align: center;
	transition-property: margin, opacity;
	transition-duration: .333s;
}

.lis div img {
	height: 3rem;
	max-width: 4rem;
}

.lis ~ .b {
	margin: 1rem;
}

.cp {
	text-align: center;
	margin: 1rem 1.5rem;
}

.lis .tcp {
	text-align: center;
	font-size: 1.15rem;
	padding: 0;
	margin: 1rem 0 .5rem 0;
}

@media only screen and (max-width: 767px) {
	.lis {
		min-width: 100%;
	}

	.lis .cp {
		margin: .5rem 1.5rem;
	}

	.lis div img {
		max-height: 5rem;
	}
}

@media only screen and (max-width: 575px) {
	.lis > div {
		width: 33%;
	}
}

a,
button,
select,
.la[href] {
	cursor: pointer;
}

.b {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem 2rem;
	border: none;
	border-radius: .2rem;
	text-decoration: none;
	color: var(--c);
	background-color: transparent;
	border: 2px solid var(--c);
	transition: color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

main .b:not([target="_blank"]) {
	border-radius: 2rem;
}

.b .imgb {
	height: 0;
	margin-top: -1.333em;
	margin-right: .5em;
}

.b .imgb svg {
	height: 1.333em;
}

.b:active,
.b:focus,
.b:hover {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
}

.b {
	color: var(--b);
	border: 2px solid var(--b);
}

.b:active,
.b:focus,
.b:hover {
	color: var(--c);
	background-color: var(--b);
	background-origin: border-box;
}

.pt {
	font-size: smaller;
}

input,
select,
textarea {
	border-bottom: 2px solid var(--b) !important;
}

form input:invalid,
form textarea:invalid,
form input[aria-invalid],
form textarea[aria-invalid] {
	border-bottom: 2px solid#f00 !important;
	box-shadow: none;
}

.la {
	text-decoration: none;
	cursor: inherit;
	color: var(--n);
	transition: color .2s ease-in-out;
}

.la[href] {
	text-decoration: underline;
}

.la[href]:hover {
	color: var(--b);
}

main p {
	width: 100%;
	padding: 0 1rem;
	margin: 1rem auto;
	max-width: var(--lg);
	text-align: justify;
	text-align-last: center;
}

.kw {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: 0;
	margin-bottom: 0;
	list-style-type: none;
	font-size: smaller;
}

.kw li {
	padding: .333rem;
	margin: .25rem;
	text-align: center;
	flex-grow: 1;
	border-bottom: 4px solid;
}

.kw > .domaine {
	border-color: #d44;
}

.kw > .langage {
	border-color: #4d4;
}

.kw > .contexte {
	border-color: #44d;
}

.kw > .équipe {
	border-color: #dd4;
}

.kw > .année {
	border-color: #d4d;
}

label {
	margin: .5rem;
}

@media only screen and (max-width: 767px) {
	label {
		text-align: center;
	}
}

input,
select,
textarea,
button {
	color: inherit;
}

code {
	padding: .125rem .25rem;
	font-size: .9rem;
	background-color: #484848;
	color: var(--c);
	border-radius: .2rem;
	font-family: Consolas, monospace;
}

@media only screen and (max-width: 575px) {
	main * p {
		padding: 0;
	}
}

body *::selection {
	color: var(--c) !important;
	background-color: var(--b) !important;
}

.nt *::selection,
.b::selection,
.b:hover *::selection,
.b:active *::selection,
.b:focus *::selection,
footer *::selection {
	color: var(--b) !important;
	background-color: var(--c) !important
}
