---
const lang = "en"
---
<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
		<title>
			404 error – Florian Monfort | Portfolio
		</title>
		<meta name="description" content="404" />
		<meta name="theme-color" content="#081888" />
		<link rel="stylesheet" type="text/css" href="/ressources/styles/erreur.css" />
	</head>
	<body>
		<main>
			<h1>
				Page not found – 404 error
			</h1>
			<p>
				The page you ask for does not exist.
			</p>
			<a href="/fr">
				Come back to home
			</a>
		</main>
	</body>
	<link rel="stylesheet" type="text/css" href="/ressources/styles/plus.css" />
</html>