---
import { getEntry } from "astro:content"

import Header from "@/components/atoms/Header.astro"
import Footer from "@/components/atoms/Footer.astro"

interface Props {
	id: string
	lang: string
	title: string
	description: string
	translatedSlugs: any
	keywords: Array<string>
}

const { id, lang, title, description, translatedSlugs, keywords } = Astro.props

const global = await getEntry("général", lang)
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
		<meta name="author" content={global!.data.auteur.nomComplet} />
		<meta http-equiv="Content-Security-Policy---Disabled" content="default-src 'none' ; style-src 'self' 'unsafe-inline' ; font-src 'self' ; script-src 'unsafe-inline' ; img-src 'self' ; form-action formspree.io" />
		<title>
			{title}
		</title>
		<meta name="keywords" content={keywords.join(", ")} />
		<meta name="description" content={description} />
		<meta name="theme-color" content="#081888" />
		<link rel="stylesheet" href="/style.css" />
		<link rel="canonical" href={`${global!.data.auteur.site}/${lang}/${id}`} />
		{
			Object.entries(translatedSlugs).map(([langCode, translation]) => langCode !== lang && <link rel="alternate" hreflang={langCode} href={`${global!.data.auteur.site}/${langCode}/${translation}`} />)
		}
		<link rel="alternate" hreflang="x-default" href={`${global!.data.auteur.site}/fr/${translatedSlugs.fr}`} />

		<slot name="jsonLd" />
	</head>
	<body>
	<body class="s">
		<Header lang={lang} enTête={global?.data.enTête}>
			<>
				{
					global!.data.enTête.langues.map(lien => {
						return <a
							href={`/${lien.langue}/${translatedSlugs[lien.langue]}`}
							title={lien.titre}
							hreflang={lien.langue}
						>
							{lien.libellé}
						</a>
					})
				}
			</>
		</Header>
		<slot />
		<Footer global={global} />
	</body>
</html>
