---
import { getEntry } from "astro:content"

import { équivalents } from "@/i18n/routes"
import GenericTemplate from "./GenericTemplate.astro"

interface Props {
	lang: string
	page: any
}

const { lang, page } = Astro.props
const global = await getEntry("général", lang)

const translatedSlugs = (équivalents as any)["accueil"]

const jsonLd = `<script type="application/ld+json">
	[
		{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"author": {
				"@type": "Person",
				"name": "${global!.data.auteur.nomComplet}",
				"url": "${global!.data.auteur.site}/${lang}"
			},
			"keywords": "${global!.data.auteur.motsClés}",
			"description": "${global!.data.auteur.description}",
			"license": "https://www.gnu.org/licenses/gpl-3.0.en.html"
		},
		{
			"@context": "https://schema.org",
			"@type": "WebPage",
			"@id": "${global!.data.auteur.site}/${lang}/${page!.data.id}",
			"name": "${global!.data.auteur.titreSite}",
			"description": "${page!.data.description}"
		},
		{
			"@context": "https://schema.org",
			"@type": "Person",
			"name": "${global!.data.auteur.nomComplet}",
			"givenName": "${global!.data.auteur.prénom}",
			"familyName": "${global!.data.auteur.nom}",
			"jobTitle": "${global!.data.auteur.métierTexte ?? global!.data.auteur.métier}",
			"email": "${global!.data.auteur.adresseMél}"
		}
	]
</script>`
---
<GenericTemplate id={page!.data.id} lang={lang} title={global!.data.auteur.titreSite} description={page!.data.description} translatedSlugs={translatedSlugs} keywords={global!.data.auteur.motsClés.split(", ")}>
	<Fragment set:html={jsonLd} slot="jsonLd" />
	<slot />
</GenericTemplate>
