---
import { getEntry } from "astro:content"

import { équivalents } from "@/i18n/routes"
import GenericTemplate from "@/components/templates/GenericTemplate.astro"
import Breadcrumb from "@/components/atoms/Breadcrumb.astro"

interface Props {
	lang: string
	page: any
	pageName: string
}

const { lang, page, pageName } = Astro.props
const global = await getEntry("général", lang)

const translatedSlugs = (équivalents as any)[pageName]

const jsonLd = `<script type="application/ld+json">
	[
		{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"author": {
				"@type": "Person",
				"name": "${global!.data.auteur.nomComplet}",
				"url": "${global!.data.auteur.site}/${lang}"
			},
			"keywords": "${global!.data.auteur.motsClés}",
			"description": "${global!.data.auteur.description}",
			"license": "https://www.gnu.org/licenses/gpl-3.0.en.html"
		},
		{
			"@context": "https://schema.org",
			"@type": "WebPage",
			"@id": "${global!.data.auteur.site}/${lang}/${page!.id}",
			"name": "${page!.data.nom}${global!.data.séparateur}${global!.data.auteur.titreSite}",
			"description": "${page!.data.description}",
			"breadcrumb": "${global!.data.auteur.nomComplet} > ${page!.data.nom}"
		}
	]
</script>`
---
<GenericTemplate id={page!.data.id} lang={lang} title={page!.data.nom + global!.data.séparateur + global!.data.auteur.titreSite} description={page!.data.description} translatedSlugs={translatedSlugs} keywords={global!.data.auteur.motsClés.split(", ")}>
	<Fragment set:html={jsonLd} slot="jsonLd" />
	<>
		<Breadcrumb lang={lang} authorName={global!.data.auteur.nomComplet} pageName={page!.data.nom} />
		<slot />
	</>
</GenericTemplate>
