<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
		<title>
			404 – Florian Monfort | Portfolio
		</title>
		<meta name="description" content="404" />
		<meta name="theme-color" content="#081888" />
	</head>
	<body>
		<main>
			<h1>
				Page introuvable – erreur 404

				<small>
					Page not found – 404 error
				</small>
				<small>
					Netrovebla paĝo – eraro 404
				</small>
			</h1>

			<p>
				La page que vous demandez n’existe pas.
			</p>
			<a href="/fr">
				Revenir en page d’accueil
			</a>

			<p>
				The page you ask for does not exist.
			</p>
			<a href="/en">
				Come back to home
			</a>

			<p>
				La paĝo ke vi demandas ne ekzistas.
			</p>
			<a href="/eo">
				Reveni al la ĉefpaĝo
			</a>
		</main>
	</body>
</html>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

	:root{
		--b: #081888;
		--c: #fdfdfd;
	}

	* {
		box-sizing:border-box;
	}

	body {
		margin: 0;
		padding: 0;
		background-color: var(--b);
		background-image: linear-gradient(to right,#280888,var(--b));
		color: var(--c);
		font-family: "Open Sans";
		font-size: 1.5em;
	}

	main {
		padding: 2rem;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h1 {
		text-align: center;
		font-family: "Sarabun";
	}

	small {
		display: block;
	}

	p, a {
		text-align: center;
	}

	a {
		position: relative;
		padding: 1rem 2rem;
		margin: .5rem .25rem;
		border: none;
		border-radius: .2rem;
		font-size: 1.05em;
		text-decoration: none;
		color: var(--c);
		background-color: transparent;
		border: 2px solid var(--c);
		transition: color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;
	}

	a:hover { 
		box-shadow: 0 4px 8px 0 rgba(0,0,0,.5);
	}

	a:active,
	a:focus,
	a:hover {
		color: var(--b);
		background-color: var(--c);
	}

	*::selection {
		color:var(--b);
		background-color:var(--c)
	}

	a:active::selection,
	a:focus::selection,
	a:hover::selection {
		color: var(--c);
		background-color: var(--b);
	}
</style>
