---
const lang = "eo"
---
<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
		<title>
			Eraro 404 – Florian Monfort | Portfolio
		</title>
		<meta name="description" content="404" />
		<meta name="theme-color" content="#081888" />
		<link rel="stylesheet" type="text/css" href="/ressources/styles/erreur.css" />
	</head>
	<body>
		<main>
			<h1>
				Netrovebla paĝo – eraro 404
			</h1>
			<p>
				La paĝo ke vi demandas ne ekzistas.
			</p>
			<a href="/fr">
				Reveni al la ĉefpaĝo
			</a>
		</main>
	</body>
	<link rel="stylesheet" type="text/css" href="/ressources/styles/plusx.css" />
</html>