---
interface Props {
	lang: string
	authorName: string
	pageName: string
	articleName?: string
}

const { lang, authorName, pageName, articleName } = Astro.props
---
<nav class="fa">
	<a class="la" href={`/${lang}`}>
		{authorName}
	</a>

	{
		articleName !== undefined ? <>
			› <a class="la" href={`/${lang}/${pageName}`}>
				{pageName}
			</a>

			› <a class="la">
				{articleName}
			</a>
		</>
		: <>
			› <a class="la">
				{pageName}
			</a>
		</>
	}
	</check>
</nav>

<style>
	.fa {
		display: flex;
		color: var(--b);
		padding: 1.25rem .75rem 0 .75rem;
	}

	.fa .la {
		margin: 0 .5rem;
	}
</style>
