---
interface Props {
	id: string
	image: {
		document: string
		titre: string
		description: string
	}
}

const { id, image } = Astro.props
---
<figure class="limg fi">
	<a href={`/images/illustrations/${image.document}`} target="_blank">
		<img src={`/images/illustrations/${image.document}`} alt={image.description} title={image.titre} id={id} data-titrehtml={image.titre} loading="lazy" />
	</a>

	<figcaption class="pt">
		{image.description}
	</figcaption>
</figure>
