---
interface Props {
	global: any
}

const { global } = Astro.props
---
<footer class="pied">
	<div class="vague" role="presentation" aria-hidden="true">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" preserveAspectRatio="none">
			<path fill="currentColor" d="m0 1v-.9c0 0 .15.9.25.9c.2 0 .25-1 .5-1c.15 0 .25.5.25.5v.5z" opacity=".5"/>
			<path fill="currentColor" d="m0 1v-.5c0 0 .15.5.25.5c.3-.05.25-.95.5-1c.15 0 .25.9.25.9v.1z"/>
		</svg>
	</div>

	<p>
		{global!.data.pied.date} — <Fragment set:html={global!.data.pied.licence} />
	</p>

	<p>
		<Fragment set:html={global!.data.pied.attribution} />
	</p>
</footer>

<style is:global>
	.pied {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		/* 10rem + 2rem de margin interne */
		padding: 12rem 2rem 2rem 2rem;
		position: relative;
		overflow: hidden;
		color: var(--c);
		background: var(--dg);
	}

	.pied > * {
		text-align: center;
	}

	.pied p {
		margin: 0;
	}

	.pied p a {
		color: inherit;
	}

	.vague {
		position: absolute;
		top: 0;
		width: 100%;
		/* 6rem + 2rem de marge avec le main */
		height: 8rem;
		padding-top: 2rem;
		background-color: var(--c);
	}

	.vague svg {
		width: 100%;
		/* = 6rem */
		height: 100%;
		color: var(--b);
	}

	@media only screen and (max-width:575px) {
		.vague {
			width: 200%;
			left: -15%;
		}
	}
</style>
