---
interface Props {
	lang: string
	enTête: {
		accueil: string
		liens: {
			adresse: string
			libellé: string
		}[]
		langues: {
			libellé: string
			titre: string
			langue: string
		}[]
	}|undefined
}

const { lang, enTête } = Astro.props
---
<header>
	<button class="bouton-menu" aria-role="presentation">
		<span class="inner">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</span>
	</button>

	<div class="contenu">
		<div class="accueil">
			<a href={`/${lang}`}>
				{enTête?.accueil}
			</a>
		</div>

		<nav class="pages">
			<div class="envelope">
				{
					enTête?.liens.map(lien => {
						return <a href={lien.adresse}>
							{lien.libellé}
						</a>
					})
				}
			</div>
		</nav>

		<div class="langues">
			<slot />
		</div>
	</div>
</header>

<style is:global>
	header {
		background-image: var(--dg);
	}

	.bouton-menu {
		--size: 3rem;
		--border: 2px;
		--fonction: cubic-bezier(.645, .045, .355, 1);
		--color: var(--c);
		--background: var(--b);
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: var(--size);
		min-height: var(--size);
		width: var(--size);
		height: var(--size);
		margin: 1rem;
		padding: .5rem;
		background-color: var(--background);
		border: var(--border) solid var(--color);
		border-radius: .5rem;
		cursor: pointer;
		transition: background-color .25s var(--fonction);
	}

	.bouton-menu:active,
	.bouton-menu:focus,
	.bouton-menu:hover {
		--color: var(--b);
		--background: var(--c);
	}

	.bouton-menu .inner {
		position: relative;
		margin-top: -3px;
	}

	.bar {
		--offset: calc(var(--size) / 6);
		position: absolute;
		display: block;
		width: 100%;
		height: var(--border);
		background-color: var(--color);
		transition: opacity .25s var(--fonction), transform .25s var(--fonction);
	}

	.bar:first-child {
		transform: translate3d(0, calc(0px - var(--offset)), 0);
	}

	header.opened .bouton-menu .bar:first-child {
		transform: rotate(45deg);
	}

	.bar:nth-child(2) {
		opacity: 1;
		transform-origin: 15% 50%;
	}

	header.opened .bouton-menu .bar:nth-child(2) {
		opacity: 0;
		transform: scale(0);
	}

	.bar:last-child {
		transform: translate3d(0, var(--offset), 0);
	}

	header.opened .bouton-menu .bar:last-child {
		transform: rotate(-45deg);
	}

	header .contenu {
		display: flex;
		justify-content: space-between;
		max-width: 100vw;
		gap: 1.5rem;
		padding: .5rem 1rem;
		overflow: hidden;
	}

	.accueil, .pages, .langues {
		display: flex;
		align-items: center;
		gap: .5rem;
	}

	.pages {
		justify-content: flex-start;
		overflow-x: auto;
		flex-grow: 1;
		scrollbar-width: thin;
	}

	.envelope {
		display: flex;
		justify-content: center;
		gap: .5rem;
		flex-grow: 1;
		padding: .5rem 0;
	}

	header a {
		position: relative;
		padding: .8rem;
		border: none;
		border-radius: .25rem;
		color: var(--c);
		background-color: transparent;
		text-decoration: none;
		white-space: nowrap;
		transition-property: color, background-color, box-shadow;
		transition-duration: .25s;
		transition-timing-function: ease-in-out;
	}

	header a:active,
	header a:focus,
	header button:active,
	header button:focus {
		color: var(--b);
		background-color: var(--c);
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
	}

	@media only screen and (min-width: 757px) {
		.bouton-menu {
			display: none;
		}

		header a::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: .033rem;
			border-radius: 1rem;
			height: 2px;
			background-color: var(--c);
			opacity: 0;
			width: 0;
			transition-property: opacity, width;
			transition-duration: .25s;
			transition-timing-function: ease-out;
		}

		header a:hover::after {
			opacity: 1;
			width: 100%;
		}

		header a:hover:focus::after,
		header a:hover:active::after {
			width: 0;
		}
	}

	@media only screen and (max-width: 756px) {
		header {
			display: flex;
			flex-direction: column;
			overflow-x: hidden;
			overflow-y: auto;
			gap: 0;
		}

		header.opened {
			height: 100vh;
			max-height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}

		.bouton-menu {
			align-self: flex-end;
		}

		header .contenu {
			display: none;
		}

		.accueil, .pages, .pages .envelope, .langues {
			display: contents;
		}

		header a {
			border: 2px solid;
			text-align: center;
		}

		header a:hover {
			color: var(--b);
			border-color: var(--c);
			background-color: var(--c);
		}

		header.opened .contenu {
			display: flex;
			flex-direction: column;
			overflow: auto;
			gap: .75rem;
		}
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const body = document.body
		const header = document.querySelector("header")!
		const boutonMenu = document.querySelector("header .bouton-menu")!
		boutonMenu.addEventListener("click", () => {
			header.classList.toggle("opened")
			body.classList.toggle("fg")
		})

		header.addEventListener("keydown", (event) => {
			if (event.altKey || event.ctrlKey || event.metaKey) {
				return
			}

			// Empêche le pointeur du clavier de sortir du menu
			else if (event.key === "Tab") {
				if (document.hasFocus() && header.classList.contains("opened")) {
					const focusableElements = Array.from(header.querySelectorAll("a, button"))

					// Si le pointeur était sur le premier élément pointable de la fenêtre avec touche Maj., le rapporte au dernier
					if (document.activeElement === focusableElements[0] && event.shiftKey) {
						(focusableElements[focusableElements.length - 1] as HTMLElement).focus()
						event.stopPropagation()
						event.preventDefault()
					}

					// Si le pointeur était sur le dernier élément pointable de la fenêtre sans touche Maj., le rapporte au premier
					else if (document.activeElement === focusableElements[focusableElements.length - 1] && !event.shiftKey) {
						(focusableElements[0] as HTMLElement).focus()
						event.stopPropagation()
						event.preventDefault()
					}
				}
			}
		})
	})
</script>
