---
interface Props {
	list: Array<any>
}

const { list } = Astro.props
---
<div class="lis">
	{
		list.map(icon => <div>
			<div class="cp">
				<img
					src={`/images/icônes/${icon.image}.svg`}
					title={icon.libellé}
					alt={icon.alt}
					loading="lazy" aria-hidden="true" />

				<p class="tcp">
					{
						icon.lien
						? <a href={icon.lien}>
							{icon.libellé}
						</a>
						: <Fragment set:html={icon.libellé} />
					}
				</p>

				{
					icon.niveau && <small>
						{icon.niveau}
					</small>
				}
			</div>
		</div>)
	}
</div>
