---
import { getEntry } from "astro:content"
import ClientInteractiveMap from "@/components/client/InteractiveMap.tsx"

interface Props {
	lang: string
	carte: string
	carteIntégrée: string
}

const { lang, carte, carteIntégrée } = Astro.props
const global = await getEntry("général", lang)
---
<ClientInteractiveMap client:load mapData={carteIntégrée} mapLink={carte}>
	{global!.data.clickToInteract}
</ClientInteractiveMap>

<style is:global>
	article figure {
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: .25rem;
	}

	.iframe-envelope {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	article iframe {
		aspect-ratio: 16 / 9;
	}

	article .iframe-envelope .layer {
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: large;
		text-shadow: 1px 1px 3px black;
		color: white;
		cursor: pointer;
		background-color: rgba(0, 0, 0, .5);
		transition: opacity .25s;
	}

	article .iframe-envelope .layer:hover {
		opacity: 1;
	}

	@media only screen and (hover: none) {
		article .iframe-envelope .layer {
			opacity: 1;
		}
	}
</style>
