---
interface Props {
	adresse: string
	lienExterne?: boolean
}

const { adresse, lienExterne } = Astro.props
---
<a href={adresse} class="b" target={lienExterne ? "_blank" : null}>
	<slot />
</a>

<style is:global>
	a.b {
		display: flex;
		gap: .333em;
	}

	svg {
		height: 1.5rem;
	}
</style>
