---
import { getEntry } from "astro:content"

import PageTemplate from "@/components/templates/PageTemplate.astro"
import IconsList from "@/components/atoms/IconsList.astro"

interface Props {
	lang: string
}

const { lang } = Astro.props
const page = await getEntry("àproposdemoi", lang)
---
<PageTemplate lang={lang} page={page} pageName="àproposdemoi">
	<main>
		<h1>
			{page!.data.libellé}
		</h1>

		<p>
			<Fragment set:html={page!.data.descriptionPersonnelle} />
		</p>

		<div class="icons">
			<h2 class="icons-title">
				<img src={`/images/icônes/${page!.data.langues.icône}.svg`} alt="&shy;" loading="lazy" aria-hidden="true" />

				<span>{page!.data.langues.titre}</span>
			</h2>

			<IconsList list={page!.data.langues.liste} />
		</div>

		<div class="icons">
			<h2 class="icons-title">
				<span>{page!.data.contributeur.titre}</span>
			</h2>

			<IconsList list={page!.data.contributeur.liste} />
		</div>
	</main>
</PageTemplate>

<style is:global>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	main h1 {
		font-size: 2rem;
		font-weight: normal;
	}
</style>
