---
import { getEntry } from "astro:content"

import PageTemplate from "@/components/templates/PageTemplate.astro"
import IconsList from "@/components/atoms/IconsList.astro"
import MailIcon from "@/components/icons/MailIcon.astro"

interface Props {
	lang: string
}

const { lang } = Astro.props
const global = await getEntry("général", lang)
const page = await getEntry("contact", lang)
---
<PageTemplate lang={lang} page={page} pageName="contact">
	<main>
		<h1>
			{page!.data.libellé}
		</h1>

		<div>
			<div>
				<div class="half">
					<h2>
						{page!.data.adresse.titre}
					</h2>

					<address>
						<div class="contact-links">
							<a class="contact-link" href={`mailto:${global!.data.auteur.adresseMél}`}>
								<MailIcon />
								{global!.data.auteur.adresseMél}
							</a>
						</div>

						<div class="icons">
							<h3 class="icons-title">
								<span>{global!.data.auteur.comptes.titre}</span>
							</h3>

							<IconsList list={global!.data.auteur.comptes.liste} />
						</div>
					</address>
				</div>

				<div class="half">
					<h2 style="text-align: left; padding: 0 2rem;">
						{page!.data.formulaire.titre}
					</h2>

					<form action={`https://formspree.io/${page!.data.formulaire.adresseEnvoi}`} method="POST">
						<div class="line">
							<div>
								<label for="nom">
									{page!.data.formulaire.nom.description}
								</label>
								<input type="text" name="nom" id="nom" placeholder={page!.data.formulaire.nom.libellé} minlength="3" maxlength="63" />
							</div>
							<div>
								<label for="réponse">
									{page!.data.formulaire.adresseRéponse.description} <span class="rq">*</span>
								</label>
								<input type="email" name="réponse" id="réponse" placeholder={page!.data.formulaire.adresseRéponse.libellé} required="required" />
							</div>
						</div>
						<div class="column">
							<label for="sujet">
								{page!.data.formulaire.sujet.description}
								<span class="rq">*</span>
							</label>
							<input type="text" name="sujet" id="sujet" placeholder={page!.data.formulaire.sujet.libellé} required="required" minlength="3" maxlength="63" />
						</div>
						<div class="column">
							<label for="message">
								{page!.data.formulaire.message.description}
								<span class="rq">*</span>
							</label>
							<textarea name="message" id="message" placeholder={page!.data.formulaire.message.libellé} required="required" spellcheck="true" minlength="3"></textarea>
						</div>
						<button class="b">
							{page!.data.formulaire.libelléEnvoi}
						</button>
					</form>
				</div>
			</div>
		</div>
	</main>
</PageTemplate>

<style is:global>
	main {
		margin: 0 auto;
		padding: 0 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 1152px;
	}

	main > div {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	main > div > div {
		display: flex;
		width: 100%;
		height: 100%;
		flex-grow: 1;
		gap: 2rem;
	}

	.half {
		flex-grow: 1;
		width: 50%;
	}

	main h1 {
		font-size: 2rem;
		font-weight: normal;
	}

	address {
		font-style: inherit;
	}

	address .contact-links {
		display: flex;
		flex-direction: column;
	}

	address .contact-link {
		font-size: 1.15rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: .75rem;
	}

	address a svg {
		padding: .5rem;
		border: 1px solid;
		border-radius: 100%;
		height: 3rem;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1.5rem;
		width: 100%;
		max-width: var(--lg);
		padding: 1rem;
	}

	@media only screen and (max-width: 575px) {
		form {
			padding: 1rem 0;
		}
	}

	label {
		padding: 0 .25rem;
	}

	form .column {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	form .line {
		display: flex;
		justify-content: center;
		width: 100%;
		gap: 1rem;
	}

	form .line > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		flex-grow: 1;
	}

	@media only screen and (max-width: 767px) {
		form .line {
			flex-direction: column;
		}
	}

	input {
		width: 100%;
		font-size: 1rem;
	}

	textarea {
		resize: vertical;
		font-size: 1rem;
	}

	input,
	textarea {
		border: none;
		padding: 1rem;
	}

	button {
		align-self: center;
	}

	.rq {
		color: red;
		margin-left: .25rem;
		text-shadow: 0 0 1px var(--n);
	}

	@media only screen and (max-width: 1024px) {
		main > div > div {
			flex-direction: column-reverse;
			align-items: center;
		}

		.half {
			width: 100%;
		}

		h2, h3 {
			text-align: center;
		}
	}
</style>

<script>
	// Lorsque le document est prêt à être traité
	document.addEventListener("DOMContentLoaded", () => {
		/*******************************************************************

		GESTION DU DIMENSIONNEMENT VERTICAL AUTOMATIQUE DES <TEXTAREA>

		*******************************************************************/

		// Fonction permettant d’amortir des appels multiples à une même fonction en définissant un délai minimal avant exécution durant lequel tout nouvel appel annule le précédant, jusqu’au dernier qui, n’étant pas annulé, sera exécuté
		const amortir = (fonctionRappel: CallableFunction, délai: number) => {
			let retardateur: number | undefined

			return async function(...argumentsFonctionRappel: Array<unknown>) {
				clearTimeout(retardateur)

				// Permet de récupérer le résultat de la fonction de rappel
				return await new Promise(function(résoudre) {
					retardateur = setTimeout(() => {
						résoudre(fonctionRappel(...argumentsFonctionRappel))
					}, délai)
				})
			}
		}

		// Réinitialise la hauteur d’une balise à sa hauteur naturelle
		const recalculerHauteur = (balise: HTMLTextAreaElement) => {
			// Pour éviter les « sauts », on calcule la nouvelle hauteur sur un élément masqué
			const nouvelÉlément = document.createElement("textarea")
			nouvelÉlément.style.position = "absolute"
			nouvelÉlément.style.left = `${balise.scrollWidth * -2}px`
			nouvelÉlément.style.width = `${balise.scrollWidth}px`
			nouvelÉlément.style.fontSize = getComputedStyle(balise).fontSize
			nouvelÉlément.value = balise.value
			document.body.appendChild(nouvelÉlément)

			// Puis affecte cette valeur
			// Définit la nouvelle hauteur comme étant la somme de la taille de l’élément caché ou la taille minimale
			balise.style.height = Math.max(nouvelÉlément.scrollHeight + Number(getComputedStyle(balise).fontSize.split("px")[0]), 100) + "px"

			// Avant de supprimer l’élément
			nouvelÉlément.remove()
		}

		// Définit la <textarea> comme étant à taille fixe, sans débordement ni redimensionnement permis
		const zoneEntréeTexte = document.querySelector("textarea")!
		zoneEntréeTexte.style.overflow = "hidden"
		zoneEntréeTexte.style.resize = "none"

		// Recalcule sa hauteur à chaque saisie
		zoneEntréeTexte.addEventListener("input", () => recalculerHauteur(zoneEntréeTexte))

		// De même qu’à chaque redimensionnement, avec un amortissement de la fréquence d’exécution
		addEventListener("resize", amortir(() => recalculerHauteur(zoneEntréeTexte), 500))

		// Et au lancement
		recalculerHauteur(zoneEntréeTexte)
	})
</script>
