---
import { getEntry } from "astro:content"

import PageTemplate from "@/components/templates/PageTemplate.astro"
import InteractiveMap from "@/components/atoms/InteractiveMap.astro"
import Lien from "@/components/atoms/Lien.astro"
import DocumentIcon from "@/components/icons/DocumentIcon.astro"

interface Props {
	lang: string
}

const { lang } = Astro.props
const global = await getEntry("général", lang)
const page = await getEntry("formations", lang)
---
<PageTemplate lang={lang} page={page} pageName="formations">
	<main>
		<h1>
			{page!.data.nom}
		</h1>

		<div class="liste">
			{page!.data.liste.map(article => <article id={article.id}>
				<p class="période">
					{article.période.début} ‒ {article.période.fin}
				</p>

				<h2>
					{article.titre}
				</h2>

				<p>
					<a href={article.siteWeb} title={global!.data.libelléSiteWeb}>
						{article.organisation}
					</a>
					 · {article.localisation}
				</p>

				<InteractiveMap lang={lang} carte={article.carte} carteIntégrée={article.carteIntégrée} />

				<div class="documents">
					{
						article.documents.map(document => <Lien adresse={document.adresse}>
							<DocumentIcon />
							<Fragment set:html={`<span>${document.libellé}</span>`} />
						</Lien>)
					}
				</div>
			</article>)
		</div>
	</main>
</PageTemplate>

<style is:global>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	main h1 {
		font-size: 2rem;
		font-weight: normal;
	}

	.liste {
		display: flex;
		flex-direction: column;
		padding-bottom: 3rem;
	}

	article {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 50%;
		padding: 1rem;
		position: relative;
	}

	article:nth-child(odd) {
		align-self: flex-start;
		padding-right: 2rem;
	}

	article:nth-child(even) {
		align-self: flex-end;
		padding-left: 2rem;
	}

	article::before, article::after {
		content: "";
		display: block;
		position: absolute;
	}

	article::before {
		width: 2px;
		background-color: var(--n);
		height: 100%;
	}

	article::after {
		width: .75em;
		height: .75em;
		background-color: var(--n);
		border-radius: 100%;
		top: 1.5em;
	}

	article:nth-child(odd) {
		align-self: flex-start;
	}

	article:nth-child(odd) * {
		text-align: right;
	}

	article:nth-child(even) {
		align-self: flex-end;
	}

	article:nth-child(even) * {
		text-align: left;
	}

	article:nth-child(odd)::before {
		right: -1px;
	}

	article:nth-child(even)::before {
		left: -1px;
	}

	article:nth-child(odd)::after {
		right: -.375em;
	}

	article:nth-child(even)::after {
		left: -.375em;
	}

	article h2 {
		font-size: 1.5rem;
		margin: 0;
	}

	.période {
		color: var(--b);
		font-weight: bold;
	}

	.période::before {
		content: "";
		display: block;
		height: 2px;
		background-color: var(--n);
		width: 5rem;
		top: calc(1.5em + .375em - 1px);
		position: absolute;
	}

	article:nth-child(even) .période {
		padding-left: 4rem;
	}

	article:nth-child(odd) .période {
		padding-right: 4rem;
	}

	article:nth-child(even) .période::before {
		left: 0;
	}

	article:nth-child(odd) .période::before {
		right: 0;
	}

	.liste p {
		text-align-last: unset;
		padding: 0;
		margin: 0;
		line-height: 1.5;
	}

	article:nth-child(even) figcaption {
		align-self: flex-end;
	}

	article:nth-child(odd) figcaption {
		align-self: flex-start;
	}

	article .documents {
		display: flex;
		gap: .5rem;
		flex-wrap: wrap;
	}

	article:nth-child(even) .documents {
		justify-content: flex-start;
	}

	article:nth-child(odd) .documents {
		justify-content: flex-end;
	}

	article .documents .b {
		padding: .5rem 1rem;
	}

	@media only screen and (max-width: 1023px) {
		article:nth-child(n) {
			align-self: flex-start;
			padding-right: 1rem;
			padding-left: 2rem;
			width: 100%;
			max-width: calc(100vw - 2rem);
		}

		article:nth-child(n) * {
			text-align: left;
		}

		article:nth-child(n)::before {
			left: -1px;
			right: unset;
		}

		article:nth-child(n)::after {
			left: -.375em;
			right: unset;
		}

		.période:nth-child(n) {
			padding-left: 4rem;
			padding-right: unset;
		}

		.période:nth-child(n)::before {
			left: 0;
			right: unset;
		}

		article:nth-child(n) iframe {
			max-width: 50%;
		}

		article:nth-child(n) figcaption {
			align-self: unset;
		}

		article:nth-child(n) .documents {
			justify-content: unset;
		}
	}
</style>
