---
import { getEntry } from "astro:content"

import HomepageTemplate from "@/components/templates/HomepageTemplate.astro"

interface Props {
	lang: string
}

const { lang } = Astro.props
const page = await getEntry("accueil", lang)
---
<HomepageTemplate lang={lang} page={page}>
	<main>
		<p class="subtitle">
			{page!.data.bonjour}
		</p>

		<h1 class="title">
			{page!.data.nomComplet}
		</h1>

		<h2 class="subtitle">
			{page!.data.statut}
		</h2>

		<div class="liens">
			{
				page!.data.liens.map(lien => <a href={lien.adresse} class="b">
					{lien.libellé}
				</a>)
			}
		</div>
	</main>
</HomepageTemplate>

<style is:global>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		color: var(--c);
		background-image: var(--dg) !important;
	}

	main .title {
		font-family: "Playfair Display", "Lucida Sans Unicode";
		margin: 0 auto;
		font-size: 6rem;
		line-height: 1em;
	}

	main .subtitle {
		text-align: center;
		font-weight: normal;
		font-size: 2.4rem;
	}

	@media only screen and (max-width: 1023px) {
		main .title {
			font-size: 5rem;
		}

		main .subtitle {
			font-size: 2rem;
		}
	}

	@media only screen and (max-width: 575px) {
		main .title {
			font-size: 3.5rem;
		}

		main .subtitle {
			font-size: 1.75rem;
		}
	}

	.liens {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.liens .b {
		color: var(--c);
		border-color: var(--c);
	}

	.liens .b:active,
	.liens .b:focus,
	.liens .b:hover {
		color: var(--b);
		background-color: var(--c);
	}

	.pied {
		background-image: unset !important;
		background-color: var(--c) !important;
		color: var(--n) !important;
	}

	.pied .vague {
		background-image: var(--dg) !important;
	}

	.pied .vague svg {
		color: var(--c) !important;
	}

	body *::selection {
		color: var(--b) !important;
		background-color: var(--c) !important
	}

	.nt *::selection,
	.b::selection,
	.b:hover *::selection,
	.b:active *::selection,
	.b:focus *::selection,
	footer *::selection {
		color: var(--c) !important;
		background-color: var(--b) !important;
	}
</style>
