---
import { getEntry } from "astro:content"

import PageTemplate from "@/components/templates/PageTemplate.astro"
import Lien from "@/components/atoms/Lien.astro"
import CodeIcon from "@/components/icons/CodeIcon.astro"
import EyeIcon from "@/components/icons/EyeIcon.astro"

interface Props {
	lang: string
}

const { lang } = Astro.props
const global = await getEntry("général", lang)
const page = await getEntry("projets", lang)
---
<PageTemplate lang={lang} page={page} pageName="projets">
	<main>
		<h1>
			{page!.data.nom}
		</h1>

		<div class="liste">
			{
				page!.data.liste.map(article => <article id={article.id}>
					<div class="content">
						<figure>
							<div class="figure-envelope">
								<img src={`/images/illustrations/${article.illustration.document}`} alt={article.illustration.description} title={article.illustration.titre} loading="lazy" />
							</div>
							<figcaption>
								<Fragment set:html={article.illustration.description} />
							</figcaption>
						</figure>

						<div class="content-text">
							<h2>
								<Fragment set:html={article.titre} />
							</h2>
	
							{
								typeof article.description === "string"
									? <p><Fragment set:html={article.description} /></p>
									: article.description.map(paragraphe => <p><Fragment set:html={paragraphe} /></p>)
							}

							{
								article.citation && <blockquote class="citation">
									{article.citation.déclaration}

									<footer>
										{article.citation.auteur}
									</footer>
								</blockquote>
							}
						</div>
					</div>

					<footer>
						<div class="liens">
							{
								article.lienCode && <Lien adresse={article.lienCode} lienExterne={true}>
									<CodeIcon />
									{global!.data.article.libelléCode}
								</Lien>
							}

							{
								article.lienDémonstration && <Lien adresse={article.lienDémonstration} lienExterne={true}>
									<EyeIcon />
									{global!.data.article.libelléDémonstration}
								</Lien>
							}
						</div>

						<ul class="kw">
							{
								article.motsClés.map(motClé => <li class={motClé.classe} data-catégorie={motClé.catégorie}>
									{motClé.valeur}
								</li>)
							}
						</ul>
					</footer>
				</article>)
			}
		</div>

		<div class="n c">
			<p>
				{page!.data.formulaireRecherche.aucunRésultat}
			</p>
			<p aria-role="presentation" class="emoji"></p>
		</div>
	</main>
</PageTemplate>

<style is:global>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	main h1 {
		font-size: 2rem;
		font-weight: normal;
	}

	.liste {
		display: flex;
		flex-direction: column;
		gap: 4rem 3rem;
		padding: 2rem;
		padding-bottom: 3rem;
		max-width: 1280px;
	}

	article {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		border-radius: 1rem;
		box-shadow: 0 0 4px 0px #08188840;
		overflow: hidden;
	}

	article .content,
	article .content-text,
	article > footer {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	article .content {
		flex-grow: 1;
	}

	article .content-text,
	article > footer {
		padding: 0 1.5rem;
	}

	article .content-text {
		padding-top: .5rem;
	}

	article > footer {
		padding-bottom: 1.5rem;
	}

	article.m {
		display: none;
	}

	article figure {
		margin: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: .25rem;
		text-align: center;
	}

	article .figure-envelope {
		display: flex;
		flex-direction: column;
		justify-content: center;
		aspect-ratio: 16 / 9;
		overflow: hidden;
	}

	article figcaption {
		font-size: smaller;
		color: #484848;
		padding: 0 1.5rem;
	}

	article figure img {
		max-width: 100%;
		max-height: 100vmin;
		transition: transform .25s ease-out;
	}

	article figure a:hover img {
		transform: scale(1.1);
	}

	article h2 {
		font-size: 1.5rem;
		margin: 0;
	}

	article p {
		text-align-last: unset;
		padding: 0;
		margin: 0 auto;
		line-height: 1.5;
	}

	article .citation {
		margin: 0;
		padding: 1rem 2rem 1rem 3rem;
		background-color: #eee;
		border-left: .5rem solid #ccc;
		font-style: italic;
		quotes: auto;
		position: relative;
	}

	article .citation::before {
		content: open-quote;
		position: absolute;
		left: .75rem;
		top: 2rem;
		height: 0;
		line-height: 0;
		color: #ccc;
		font-size: 3em;
	}

	article .citation footer {
		font-style: normal;
		text-align: right;
		margin-top: 1rem;
	}

	@media only screen and (max-width: 575px) {
		article .citation {
			padding: 1rem;
		}

		article .citation::before {
			content: unset;
		}
	}

	article .liens {
		display: flex;
		gap: .5rem;
		flex-wrap: wrap;
	}

	article .liens a {
		padding: .5rem 1rem;
	}

	article .kw {
		margin-top: 0;
	}

	.n > p {
		text-align: center;
		font-size: 1.25rem;
	}

	@media only screen and (min-width: 576px) {
		.n > p {
			font-size: 1.5rem;
		}
	}

	@media only screen and (min-width: 768px) {
		.liste {
			--padding-size: ;
			--gutter-size: 3rem;
			flex-direction: row;
			justify-content: center;
			align-items: unset;
			flex-wrap: wrap;
			padding-left: 4rem;
			padding-right: 4rem;
			gap: 4rem var(--gutter-size);
		}

		article {
			width: calc(50% - var(--gutter-size) / 2);
		}
	}

	@supports (display: grid) {
		@media only screen and (min-width: 768px) {
			.liste {
				display: grid;
				grid-template-columns: 1fr 1fr;
				/* le gap s’applique aussi ici */
			}

			article {
				width: unset;
			}
		}
	}
</style>
