---
import { getEntry } from "astro:content"

import PageTemplate from "@/components/templates/PageTemplate.astro"
import IconsList from "@/components/atoms/IconsList.astro"

interface Props {
	lang: string
}

const { lang } = Astro.props
const page = await getEntry("compétences", lang)
---
<PageTemplate lang={lang} page={page} pageName="compétences">
	<main>
		<h1>
			{page!.data.nom}
		</h1>

		{
			page!.data.liste.map(domaine => {
				if (domaine.prioritaire) {
					return <section class="icons">
						<h2 class="icons-title">
							{domaine.icône && <img src={`/images/icônes/${domaine.icône}.svg`} alt="&shy;" loading="lazy" aria-hidden="true" />}

							<span><Fragment set:html={domaine.titre} /></span>
						</h2>

						{domaine.description && <p><Fragment set:html={domaine.description} /></p>}
						{domaine.outils && <IconsList list={domaine.outils} />}
						{domaine.services && <IconsList list={domaine.services} />}
						{/*
							{domaine.lienProjets && (
								<Lien adresse={domaine.lienProjets} lienExterne={false}>
									<EyeIcon />
									{global!.data.article.libelléProjets}
								</Lien>
							)}
						*/}
					</section>
				}
			})
		}
	</main>
</PageTemplate>

<style is:global>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	main h1 {
		font-size: 2rem;
		font-weight: normal;
	}
</style>
