---
---
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	<g fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round">
		<path d="m3 10c0-3.771 0-5.657 1.172-6.828c1.171-1.172 3.057-1.172 6.828-1.172h2c3.771 0 5.657 0 6.828 1.172c1.172 1.171 1.172 3.057 1.172 6.828v4c0 3.771 0 5.657-1.172 6.828c-1.171 1.172-3.057 1.172-6.828 1.172h-2c-3.771 0-5.657 0-6.828-1.172c-1.172-1.171-1.172-3.057-1.172-6.828v-4z" />
		<path d="m8 12h8" />
		<path d="m8 8h8" />
		<path d="m8 16h5" />
	</g>
</svg>