---
---
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
	<path fill="currentColor" d="m63.934 31.633c-.015-.037-.256-.646-.74-1.648c-2.597-5.37-12.174-21.993-31.194-21.993c-22.568 0-31.842 23.404-31.934 23.641c-.089.231-.089.487 0 .719c.092.236 9.366 23.64 31.934 23.64c19.01 0 28.587-16.605 31.189-21.983c.486-1.007.729-1.62.744-1.657c.089-.232.089-.488.001-.719zm-31.934 16.363c-8.837 0-16-7.163-16-16s7.163-16 16-16s16 7.163 16 16s-7.163 16-16 16zm0-22c-3.313 0-6 2.687-6 6s2.687 6 6 6s6-2.687 6-6s-2.687-6-6-6zm3 6.996c-.553 0-1-.447-1-1c0-1.104-.896-2-2-2c-.553 0-1-.447-1-1s.447-1 1-1c2.209 0 4 1.791 4 4c0 .553-.447 1-1 1z" />
</svg>