---
---
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	<path d="m10 19h-3.8c-1.12 0-1.68 0-2.108-.218c-.376-.192-.682-.498-.874-.874c-.218-.428-.218-.988-.218-2.108v-7.6c0-1.12 0-1.68.218-2.108c.192-.376.498-.682.874-.874c.428-.218.988-.218 2.108-.218h11.6c1.12 0 1.68 0 2.108.218c.376.192.682.498.874.874c.218.428.218.988.218 2.108v1.8m-.393-1.738l-5.057 3.371c-1.283.856-1.925 1.283-2.618 1.45c-.613.146-1.252.146-1.864 0c-.694-.167-1.335-.594-2.618-1.45l-5.303-3.534m10.853 12.901l2.025-.405c.177-.035.265-.053.347-.085c.073-.029.143-.066.207-.111c.073-.051.136-.114.264-.242l4.157-4.157c.552-.552.552-1.448 0-2c-.552-.552-1.448-.552-2 0l-4.157 4.157c-.128.128-.191.191-.242.264c-.045.064-.082.134-.111.207c-.032.082-.05.171-.085.347l-.405 2.025z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
</svg>